/****** General ***********/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --grey: #d9d9d9;
  --padding-30: 30px;
  --padding-20: 20px;
  --padding-50: 50px;
  --gap-35: 35px;
  --radius-15: 15px;
}

.fa-solid {
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}
.lodges-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--padding-20);
  box-shadow: 0px 3px 15px 0px #0000001a;
}
.lodges-card .card__img-box,
.activities-container__cards-container__cards .card__img-box {
  overflow: hidden;
  border-top-left-radius: var(--padding-20);
  border-top-right-radius: var(--padding-20);
  width: 100%;
  border: 5px solid white;
  height: 124px;
}
.lodges-card .card__infos {
  gap: 8px;
  padding: 0 15px;
  margin-top: 4px;
  margin-bottom: 15px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  height: 146px;
  width: 100%;
}
.card__infos {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.card__infos i {
  font-size: 13px;
}
.card .card__img-box {
  overflow: hidden;
  border-top-left-radius: var(--padding-20);
  border-bottom-left-radius: var(--padding-20);
  width: 100%;
  border: 5px solid white;
}
.card__img-box img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__infos h3 {
  font-size: 16px;
}
.card__infos p {
  font-size: 14px;
}

h1 {
  font-size: 22px;
}
body {
  max-width: 1440px;
  margin: auto;
}
.title-section {
  font-size: 22px;
  font-weight: 700;
}
.star-disable {
  color: var(--main-bg-color);
}
/****** Header ***********/
.nav-g-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-2 {
  font-size: 18px;
  font-weight: bold;
}
.nav-g-container__logo-container {
  padding: 28px var(--padding-50);
}
.nav-g-container__logo-container > img {
  width: 61px;
}
.nav-g-container__links-container {
  display: flex;
  width: 100%;
}
.nav-g-container__links-container > a {
  position: relative;
  flex: 1;
  text-align: center;
}

.nav-g-container__links-container > a::after {
  position: absolute;
  top: -15px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}
.nav-g-container__links-container > a:hover::after,
.nav-g-container__links-container > a:focus::after {
  opacity: 1;
}
.nav-g-container__links-container > a:hover,
.nav-g-container__links-container > a:focus {
  color: var(--main-color);
}
/****** Main content *************/
.main-g-container {
  margin-top: var(--padding-30);
}
.main-g-container h1 {
  margin-bottom: 8px;
}

/****** Tool bar *************/
.main-g-container__tool-bar {
  display: flex;
  flex-direction: column;
  gap: var(--gap-35);
  padding: 0 var(--padding-20);
}
/****** Search bar *************/
.main-g-container__tool-bar__search {
  display: grid;
  grid-template-columns: 50px auto auto;
  width: 100%;
  max-width: 377px;
  height: 49px;
}
.main-g-container__tool-bar__search__submit-btn span {
  display: none;
}
.main-g-container__tool-bar__search input {
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: 0px;
  border-right: 0px;
  padding: 0 24px;
}
.main-g-container__tool-bar__search input::placeholder {
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.main-g-container__tool-bar__search div {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: var(--radius-15);
  border-bottom-left-radius: var(--radius-15);
}
.main-g-container__tool-bar__search div i {
  color: black;
}
.main-g-container__tool-bar__search button {
  border-radius: var(--radius-15);
  background-color: var(--main-color);
  box-shadow: 0 4px 4px 0 #00000040;
  border-width: 0;
  width: 50px;
}
.main-g-container__tool-bar__search button i {
  color: #ffffff;
}

/****** Filters *************/

.main-g-container__tool-bar__filters-filters {
  display: grid;
  grid-template-columns: repeat(2, 162px);
  column-gap: 10px;
  row-gap: var(--padding-20);
  margin-top: var(--padding-20);
}
.main-g-container__tool-bar__filters-filters button {
  padding: 12px 19px;
  border-radius: 50px;
  border: 2px solid var(--grey);
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-g-container__tool-bar__filters-filters button:hover {
  background-color: #deebff;
}
.main-g-container__tool-bar__filters-filters button i {
  margin-right: 10px;
  font-size: 22px;
}
.main-g-container__tool-bar__info {
  margin-bottom: 35px;
}
.main-g-container__tool-bar__info span {
  border-radius: 50%;
  border: 1px solid var(--grey);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/

.populars-lodges-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.populars-lodges-container a {
  width: 100%;
}
.populars-container__cards-container,
.lodges-container__cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.populars-container {
  padding: var(--padding-30) var(--padding-20);
  background-color: var(--main-bg-color);
}
.lodges-container {
  padding: var(--padding-30) var(--padding-20);
}
.lodges-container__see-more {
  font-weight: 700;
  font-size: 18px;
}
.populars-container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/********* Activities *************/

.activities-container {
  padding: var(--padding-30);
}
.activities-container__cards-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--radius-15);
  margin-top: var(--padding-30);
}
.activities-container__cards-container a {
  flex: 1;
}
.activities-container__cards-container__cards {
  height: 200px;
  border-radius: var(--padding-20);
  box-shadow: 0px 3px 15px 0px #0000001a;
}
.activities-container__cards-container__cards .card__img-box {
  border-width: 0;
}
.activities-container__cards-container__cards h3 {
  padding-top: 20px;
  padding-right: 19px;
  padding-bottom: 20px;
  padding-left: 19px;
}
.footer-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: var(--padding-30);
  background-color: var(--main-bg-color);
  gap: var(--padding-50);

  ul {
    list-style: none;
    flex: 1;
  }
  li {
    line-height: 2;
    font-size: 18px;
  }
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (max-width: 375px) {
  .nav-g-container {
    flex-direction: column;
  }
  .nav-g-container__links-container > a::after {
    bottom: -15px;
    top: unset;
  }
}

@media (min-width: 1025px) {
  .main-g-container__tool-bar__filters-filters {
    display: flex;
    gap: 15px;
  }
  .main-g-container__tool-bar__filters-filters button {
    width: fit-content;
  }
  .populars-container__cards-container {
    flex-direction: row;
  }
  .populars-lodges-container {
    flex-direction: column-reverse;
  }
  .lodges-container__see-more {
    display: block;
  }
  .lodges-container__cards-container {
    gap: var(--padding-30);
  }
  .lodges-container,
  .populars-container {
    padding: var(--padding-30);
  }
  .populars-container__cards-container,
  .lodges-container__cards-container {
    margin-top: 30px;
  }
  .populars-container__cards-container {
    gap: var(--padding-20);
  }
  .activities-container__cards-container {
    gap: var(--padding-30);
  }
  .activities-container__cards-container a {
    flex: 1 !important;
  }
  .activities-container__cards-container__cards {
    height: 270px;
  }
  .activities-container__cards-container__cards .card__img-box {
    height: 200px;
    border-width: 0;
  }
}
@media (min-width: 1440px) {
  .populars-lodges-container {
    flex-direction: row-reverse;
  }
  .populars-container__cards-container {
    flex-direction: column;
  }
  .populars-container {
    width: 33%;
    gap: var(--padding-30);
  }
  .lodges-container {
    width: 66%;
  }
  .populars-container__cards-container {
    gap: var(--padding-30);
  }
  .activities-container__cards-container__cards {
    height: 439px;
  }
  .activities-container__cards-container__cards .card__img-box {
    height: 380px;
    border-width: 0;
  }
}
@media (min-width: 425px) {
  .lodges-container__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) {
  .lodges-container__cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-g-container__tool-bar__search button {
    width: fit-content;
    padding: 0 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }
  .main-g-container__tool-bar__search__submit-btn i {
    display: none;
  }
  .main-g-container__tool-bar__search__submit-btn span {
    display: block;
    font-weight: bold;
    color: white;
  }
  .main-g-container {
    padding: 0 var(--padding-50);
  }
  .lodges-container {
    background-color: var(--main-bg-color);
    border-radius: 15px;
  }
  .populars-container {
    background-color: var(--main-bg-color);
    border-radius: 15px;
  }
  .populars-lodges-container {
    gap: var(--padding-50);
  }
  .activities-container__cards-container {
    display: flex;
    flex-direction: row;
  }
  .activities-container__cards-container a {
    flex: unset;
    width: calc(50% - var(--radius-15));
  }
  .footer-container {
    flex-direction: row;
  }
}
@media (min-width: 376px) {
  .nav-g-container {
    align-items: center;
  }
  .nav-g-container__links-container {
    align-self: start;
    height: fit-content;
    margin-top: 15px;
    margin-right: 50px;
    max-width: 244px;
    gap: 68px;
  }
}
